<% if user_signed_in?  %>
    <%= form_for([@post, @post.comments.build]) do |f| %>
    <div class="field">
      <%= f.label :commenter %><br />
      <%= f.text_field :commenter %>
    </div>
    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
    <% end %>
    <% else %>
    <h5>Зарегистрируйтесь или войдите под своим аккаунтом чтобы оставлять комментарии</h5>
<% end %>
