<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<!--TITLE-->
<legend><%= @post.title %></legend>

<!--autor name-->
  <strong><%= @post.name %></strong>
    <!--tags uses-->
  <%= raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(" ,") %>

<!--content-->
<p>
  <%= sanitize @post.content %>
</p>

<a class ="btn btn-komment">Комментарии</a>
<%= render @post.comments %>

<%= render "comments/form" %>

<%= link_to 'назад', posts_path %>

<!--<script>-->
//    $(".btn-komment").click(function(){
//        $('.thumbnail').toggle('slow');
//    });
<!--</script>-->