<p id="notice"><%= notice %></p>

<!--TITLE-->
<legend><%= @post.title %></legend>

<!--autor name-->
  <strong><%= @post.name %></strong>
    <!--tags uses-->
  <%= raw @post.tag_list.map {|t| link_to t, tag_path(t)}.join(" ,") %>

<!--content-->
<p>
  <%= sanitize @post.content %>
</p>

<h5>Комментарии</h5>
<%= render @post.comments %>

<%= render "comments/form" %>

<%= link_to 'назад', posts_path %>
